__pycache__/
algs/__pycache__/
docs/source/svg-inkscape
steps/__pycache__/
sample_data/EPCI_Clermontais_2012/CBC/outputs/
sample_data/EPCI_Clermontais_2012/CBC/tmp/
sample_data/EPCI_Clermontais_2012/CUT/outputs/
sample_data/EPCI_Clermontais_2012/CUT/tmp/
sample_data/EPCI_Clermontais_2012/test.csv
FragScape
FragScape.zip
